@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*/Portfolio/Index*@
<body id='subpage' class='fullwidth'>
    <div id="container">
        <div id="inner-error">
            <a class="close" href="#">x</a>
            <p>
                <strong>Looks like our database is down (totally not our fault).</strong><br/>
                That rules out registering and our blog. In the meantime, please check out out videos and screenshots!
                <br />
                We'll try harder next time.
            </p>
        </div>
    </div>
    @Html.Partial("_Wrapper")
    @Html.Partial("_Footer")
</body>
<script type="text/javascript">
    $('#portfolio').addClass("current");
</script>
<script type="text/javascript">
    $('.close').click(function (e) {
        e.preventDefault();
        $('#container').hide();
    });
</script>
<script type="text/javascript">
jQuery(function ($) {
    $("#container").slideDown(2000);
}
);
$(document).click(function () {
    $('#container').hide();
});
$('#container').click(function () {
    return false;
});
</script>