@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*/Portfolio/Index*@
<body id='subpage' class='fullwidth'>
    @Html.Partial("_Wrapper")
    @Html.Partial("_Footer")
</body>
<script type="text/javascript">
    $('#portfolio').addClass("current");
</script>
