@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*/Home/PageFull*@

<body id='subpage' class='fullwidth'>

<div class='wrapper'>

	<div id="top">
	
        @Html.Partial("_Head")
		
		<div id="main">
					
			<div id="content">
			
				<div class='entry'>
				
					<h2><a href="@Url.Action("Page", "Home")">This is a fullwidth Page</a></h2>
						<p>
		Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in  anim id est laborum. Allamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in  anim id est laborum.
						</p>			
						<p>
		Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in  anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p><p>
		<img class='alignleft extra_margin_right' src="../../Content/images/medium1.jpg" alt="" /><img class='alignleft extra_margin_right' src="../../Content/images/medium4.jpg" alt="" /><img class='alignleft no_margin_right' src="../../Content/images/medium3.jpg" alt="" />
		Excepteur sint occaecat cupidatat non proident, sunt in  anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>			
						<h3>Our Philosophy</h3>
						<p>
		Duis aute irure dolor in reprehenderit in <a href='#'>voluptate velit esse</a> cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in  anim id est laborum.
						<br/>
						Allamco laboris nisi ut aliquip ex ea commodo consequat.
		Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in  anim id est laborum.
						</p>
						<h3>Our Philosophy</h3>
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						</p>
						<h3>Our Jobs</h3>
						<p><img class='alignleft'  src="../../Content/images/mediumpicture3.jpg" alt="" />
		Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in  anim id est laborum. Aehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in  anim id est laborum.
						<br/>
						Allamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>
						<h3>The Team</h3>
						<img class='alignleft'  src="../../Content/images/bigpicture5.jpg" alt="" />
						<p>
		Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in  anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in  anim id est laborum.
						<br/>
						Allamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>	
						
				<!--end entry-->	
				</div>
	
			</div><!-- end content -->
			
		</div><!--end main-->
		
	</div><!-- end #top -->

</div><!-- end #wrapper -->

@Html.Partial("_Footer")

</body>