@model Display.Models.BlogModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*/Blog/Index*@

<!-- duplicated in Registered, extract to partial -->
<body id='subpage'>
    @Html.Partial("_Wrapper", Model)
    @Html.Partial("_Footer")
</body>
<script type="text/javascript">
    $("#blog").addClass("current");
</script>