
/*Small reset*/
body, ul, ol, h1,h2,h3,h4,h5,h6,form,li,p{
margin:0;
padding:0;
}

/*Structured layout mainpage*/


body{
font-size:13px;
font-family: Arial, Helevtica, Verdana, san-serif;
line-height:23px;
position:relative;
}

.wrapper{ 
width:100%;
position:relative;
display:table;
}

#top{
position:relative;
width:960px;
margin:0 auto;
}


/*HEAD AREA*/

#head{
height:110px;
z-index: 5;
}

#top .logo, .logo a{
display:block;
height:90px;
width:210px;
position:absolute;
left:0px;
top:13px;
border: none;
padding: 0;
margin:0;
}

#top .logo a, #top .logo a:hover{
top:0;
left:0;
text-indent:-9999px;
outline:none;
border: none;
}

#nav{
position: absolute;
right:15px;
top:30px;
list-style-type: none;
list-style-position: outside;
margin:0;
z-index: 5;
}

#nav li{
float: left;
}

#nav li a{
display:block;
float:left;
padding:6px 10px;
width:100px;
border: none;
text-decoration: none;
line-height: 18px;
outline: none;
}


#nav li a strong{
display:block;
font-weight: normal;
font-size: 16px;
}

#nav li a span{
display:block;
font-size: 10px;
}


/*navigation*/


#nav ul{
margin:0;
padding:0;
list-style-type:none;
list-style-position:outside;
position:relative;
line-height:50px; 
z-index:5;
}


#top #nav ul a{
line-height:28px;
font-size: 12px;
cursor: pointer;
}

#top #nav li{
float:left;
position:relative;
z-index:20;
margin-top:11px;
}

#top #nav li li{
border-left:none;
margin-top:0;
}

#top #nav ul {
display:none;
position:absolute;
top:48px;
width:172px;
left:0;
}

#top #nav li ul a{
width:150px;
height:auto;
float:left;
text-align:left;
padding:0 10px;
}

#top #nav ul ul{
top:auto;
border-top:none;
}	

#top #nav li ul ul {
left:171px;
top:-1px;
}

#top #nav li:hover ul ul, #top #nav li:hover ul ul ul,#top  #nav li:hover ul ul ul ul{
display:none;	
}
#top #nav li:hover ul, #top #nav li li:hover ul, #top #nav li li li:hover ul, #top #nav li li li li:hover ul{
display:block;
}

#top #nav li ul a{
border-top:none;
}




/*featured*/

#featured{
position:relative;
width:960px;
height:485px;
overflow: hidden;
}

#featured_image{
width:940px;
height:420px;
overflow: hidden;
margin:0 auto;
border: none;
}

#featured_image img, #featured_image a img {
position:absolute;
z-index: 2;
visibility: hidden;
}

#featured #featured_image .current_img, #featured #featured_image .current_img img{
z-index: 3;
visibility: visible;
}

/*infotext*/
#infotext{
width:940px;
padding:0 10px;
}

#infotext h2{
font-family:arial;
font-size:18px;
padding:10px 0 12px;
position:relative;
top:2px;
}

/*content*/

#main{
padding-top:40px;
width:940px;
position: relative;
margin: 0 auto;
overflow: hidden;
}

#content{
width:610px;
margin:0;
overflow: hidden;
position:relative;
float:left;
}

.fullwidth #content{
width:940px;
}

#sidebar{
width:280px;
overflow: hidden;
margin-right:50px;
position:relative;
float:left;
}

#sidebar .box{
margin:0;
padding:0 0 10px 0;
}

#sidebar h3{
padding:20px 0 4px;
}

#sidebar .box a{
display:block;
line-height:22px;
padding:3px 10px;
}

#sidebar .box ul ul a{
padding:3px 10px 3px 20px;
}
#sidebar .box ul ul ul a{
padding:3px 10px 3px 30px;
}
#sidebar .box ul ul ul ul a{
padding:3px 10px 3px 40px;
}
#sidebar .box ul ul ul ul ul a{
padding:3px 10px 3px 50px;
}


.box{
position:relative;
margin-right:50px;
float:left;
overflow: hidden;
padding-bottom: 50px;
}

.wrapper .box3{
margin:0;
}

.wrapper .box_small{
width:280px;
}

.wrapper .box_mini{
width:160px;
margin-right:20px;
}

.box_small h3{
padding:15px 0 4px 0;
}


/*blog*/
.entry{
position: relative;
padding-bottom:30px;
clear:both;
float:left;
width: 100%;
}

.entry .box{
padding-bottom:0;
}

.post_data{
border-left:none;
border-right:none;
font-size:11px;
line-height:22px;
padding:3px 1px;
position:relative;
float:left;
width:608px;
margin-bottom: 17px;
}

.post_data .categories{
float:left;
}

.post_data .author{
float:right;
}

.blogentry h2{
width:490px;
padding:5px 0 0 0;
}

.entry h2{
padding:5px 0 0 0;
}

.entry .date{
height:44px;
position:absolute;
right:0;
text-align:center;
width:112px;
top:8px;
}

.entry .day{
font-size:36px;
font-weight:bold;
line-height:45px;
display: block;
width:55px;
position: absolute;
top:0;
left:0;
height:40px;
}

.entry .month{
display:block;
font-size:18px;
left:60px;
line-height:1em;
position:absolute;
text-transform:uppercase;
top:6px;
width:50px;
}

.entry .year{
display:block;
font-size:14px;
font-weight:bold;
left:60px;
letter-spacing:2px;
line-height:1em;
position:absolute;
top:25px;
width:53px;
}

/*pagination*/

#top .pagination {
clear:both;
padding:0 0 60px 0;
position:relative;
z-index:3;
}

#top .pagination span, #top .pagination a{
display:block;
float:left;
font-size:11px;
line-height:13px;
margin: 2px 2px 2px 0;
padding:3px 6px;
text-decoration:none;
width:auto;
}


#top .pagination .current{
font-size:11px;
padding:3px 6px;
}




/*footer*/
#footer{
width:940px;
position: relative;
padding-top: 30px;
margin: 0 auto;
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6, #footer a
{
color:#cbcbcb;
text-decoration: none;
font-size: 12px;
}

#footer .box_custom_footer{
width:220px;
margin-right:0;
}

#footer .box h4{
text-transform: uppercase;
font-size: 16px;
letter-spacing:1.3px;
}

#footer .box ul{
list-style-type: none;
list-style-position: outside;
margin:0;
} 

#footer .box ul li a{
display:block;
padding:3px 10px;
line-height:22px;
position: relative;
}

#footer .custom_button{
width:150px;
padding:10px 60px 10px 10px;
display: block;
text-align: center;
border: none;
}


.custom_button strong{
display: block;
font-size: 20px;
font-weight: normal;
letter-spacing:1px;
}

.custom_button span{
display: block;
font-size: 14px;
font-weight: normal;
letter-spacing:0.5px;
}

#sitesearch_footer{
padding-top:20px;
position: relative;
}

.box_custom_footer p{
font-size:11px;
line-height: 17px;
padding:10px 0;
}

#footer #s{
border: none;
width:160px;
padding:8px 50px 8px 10px;
color:#ccc;
}

#footer #searchsubmit{
border: none;
display:block;
height:35px;
position:absolute;
right:3px;
text-indent:-9999px;
top:47px;
width:35px;
cursor: pointer;
padding:0;
outline: none;
}

.wrapper #footer .social_bookmarks{
border:none;
display: block;
float: left;
width:100%;
}
.wrapper #footer .social_bookmarks li{
float:left;
margin:0;
width:16px;
margin-right:7px;
}

.wrapper #footer .social_bookmarks li a{
height:16px;
width:16px;
display: block;
float:left;
text-indent: -9999px;
border:none;
padding:0;
}





/*generic*/
.rounded{
-moz-border-radius: 4px;
-webkit-border-radius:4px;
border-radius:4px;
}

.more-link{
display:block;
line-height:16px;
padding:9px 0 0;
width:72px;
}

input, select, textarea{
font-size:13px;
font-family: Arial, Helevtica, Verdana, san-serif;
position:relative;
outline: none;
}

blockquote {
font-size:12px;
font-style:italic;
margin:0 0 20px;
padding:10px 20px 10px 41px;
}

.wrapper a{
text-decoration:none;
}

.wrapper a:hover{
text-decoration:none;
}

a img, a:hover img{
border:none;
text-decoration:none;
z-index: 2;
position: relative;
outline: none;
}

#main img{
float:left;
margin-bottom: 5px;
display: inline;
}

p{ padding: 0 0 1em 0}



#sidebar ul, #sidebar ol{
margin-left:0px;
}

#sidebar li{
list-style-type:none;	
}


h1,h2,h3,h4,h5,h6, legend{
letter-spacing: 0.4px;
font-weight:normal;
padding-bottom:5px;
line-height:1.4em;
position: relative;
font-family:"Trebuchet MS", Arial, Helvetica, san-serif;
}

h1{clear:both; font-size:38px;font-weight:bold;}
h2{font-size:36px; clear:both;}
h3, legend{font-size:22px; clear:both;}
h4{font-size:16px; clear:both;}
h5{font-size:14px; clear:both;}
h6{font-size:13px; clear:both;}

#top h1 a, #top h2 a, #top h3 a, #top h4 a, #top h5 a, #top h6 a{
text-decoration:none;
border:none;
} 

#top h1 a:hover, #top h2 a:hover, #top h3 a:hover, #top h4 a:hover, #top h5 a:hover, #top h6 a:hover{
text-decoration:none;
border:none;
} 



blockquote p{
padding:11px 0px;
}

blockquote{
margin:0 0 22px 5px;
padding:0 15px;
}

.floatleft{
float:left;
}

.floatright{
float:right;
}

.clearboth{
clear:both;
}

.alignleft{
float:left;
margin:0px 15px 15px 0pt;
}

.alignright{
float:right;
margin:0px 0pt 15px 15px;
}

.aligncenter{
clear:both;
display:block;
margin:10px auto;
padding: 10px 0;
}

#top .extra_margin_right{
margin-right:50px;
}

#top .no_margin_right{
margin-right:0;
}

#top .wp-smiley{
border:none;
padding:0;
}

.meta{
display:block;
position:relative;
top:3px;
font-size:11px;
line-height:14px;
}

.pp_details .pp_nav a.pp_arrow_previous, .pp_details .pp_nav a.pp_arrow_next {
margin-top:8px;
}

.pp_details .pp_nav {
margin:-3px 0 0;
}

.lightbox_video, .lightbox_image{
position: absolute;
z-index: 1;
top:0;
left:0;
}


#top .ie6_lightbox, #footerwrap .ie6_lightbox{
position: relative;
border:none;
}
/*CONTACT FORM*/	



#searchsubmit, #send, #top #submit{
cursor:pointer;
}



.text_input, .text_area{
padding:4px;
font-family: Arial, Helevtica, Verdana, san-serif;
width:200px;
font-size:11.5px;
}

#send, #submit{
padding:4px 20px;
font-family: Arial, Helevtica, Verdana, san-serif;
font-size:11.5px;
}

.hidden{
display:none;
}

#commentform{
padding-bottom:20px;
}

fieldset{
border:none;
padding:0;
margin:0;
overflow:hidden;
}

fieldset label{
padding-left:7px;
}
.blocklabel{
display:block;
padding:10px 0 0 0;
}

#top .text_area{
width:600px;
}

/*CONTACT FORM*/	
#send, #top #submit{
cursor:pointer;

}



/*comments*/


.commentlist{
margin-bottom:20px;
float:left;
width:100%;
}

#top .commentlist #comment{
width:70%;
}


.commentlist li{
width:100%;
clear:both;
float:left;
padding:0;
list-style-type:none;
padding:20px 0 0 0;
position:relative;
}
.commentlist .children, .commentlist .children li{
border:none;
}

.gravatar{
float:left;
width:60px;
padding:0px 10px;
text-align: center;
}

.gravatar img{
display:block;
padding:5px;
}

.comment_content{
float:left;
width:524px;
padding-bottom:20px;
}

.commentmetadata{
float:right;
padding-right:10px;
}

.commentmetadata a, .comment-edit-link, .comment-reply-link{
text-decoration: none;
font-size:10px;
}

#top .comment-reply-link{
border:none;
}

.comment-edit-link{
padding-left:10px;
}

.says{
display:none;
}

.author_name{
font-weight:bold;
font-style:normal;
font-size:15px;
float:left;
}

.comment_text{
clear:both;
}

.comment-reply-link{
text-align: center;
display: block;
}

.commentlist #respond{
padding-left:80px;
}

#cancel-comment-reply-link{
text-decoration: none;
margin-left:15px;
font-size: 10px;
}

.commentlist .children{
padding:0 0 0 70px;
}
.commentlist .children li .comment_content{
width:454px;
}

.commentlist .children .children li .comment_content{
width:384px;
}

.commentlist .children .children .children li .comment_content{
width:314px;
}

.commentlist .children .children .children .children li .comment_content{
width:244px;
}

.commentlist .children .children .children .children .children li .comment_content{
padding:0;
}

.comment_nav{
position: relative;
top:-13px;
font-size: 10px;
z-index: 4;
}

.comment_nav a{
text-decoration: none;
}

.comment_prev{
float:left;
}
.comment_next{
float:right;
}

/* new contact */
#contact-form {
    min-height: 700px;
}

form .input-xlarge,
form input.xlarge,
form textarea.xlarge,
form select.xlarge {
  width: 270px;
}
form div.input {
margin-left: 150px;
}
.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
form fieldset legend {
  display: block;
  margin-left: 150px;
  font-size: 20px;
  line-height: 1;
  *margin: 0 0 5px 145px;
  /* IE6-7 */

  *line-height: 1.5;
  /* IE6-7 */

  color: #404040;
}
form .clearfix {
  margin-bottom: 18px;
  margin-top: 18px;
}
form ::-webkit-input-placeholder {
  color: #bfbfbf;
}
form div.error {
  background: #fae5e3;
  padding: 10px 0;
  margin: -10px 0 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
form div.error > label, form div.error span.help-inline, form div.error span.help-block {
  color: #9d261d;
}
form div.error input[type=text], form div.error input[type=password], form div.error textarea {
  border-color: #c87872;
  -webkit-box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
  -moz-box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
  box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
}
form div.error input[type=text]:focus, form div.error input[type=password]:focus, form div.error textarea:focus {
  border-color: #b9554d;
  -webkit-box-shadow: 0 0 6px rgba(171, 41, 32, 0.5);
  -moz-box-shadow: 0 0 6px rgba(171, 41, 32, 0.5);
  box-shadow: 0 0 6px rgba(171, 41, 32, 0.5);
}
form div.error .input-prepend span.add-on, form div.error .input-append span.add-on {
  background: #f4c8c5;
  border-color: #c87872;
  color: #b9554d;
}
form textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
}
form label {
  padding-top: 6px;
  font-size: 13px;
  line-height: 18px;
  float: left;
  width: 130px;
  text-align: right;
  color: #404040;
}
/* Form - Text Area */
form textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
}
form textarea.xxlarge {
  overflow-y: scroll;
}
form select.xxlarge {
  width: 530px;
}
form textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
form textarea {
  height: auto;
}
form input[type=text],
form input[type=password],
form select,
form .uneditable-input {
  display: inline-block;
  width: 210px;
  margin: 0;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
form textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
}
.help-block {
display: block;
max-width: 600px;
}
.help-inline, .help-block {
font-size: 12px;
line-height: 18px;
color: #BFBFBF;
}

/* Form - Actions */
.actions {
  background: #f5f5f5;
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 17px 20px 18px 150px;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.actions .secondary-action {
  float: right;
}
.actions .secondary-action a {
  line-height: 30px;
}
.actions .secondary-action a:hover {
  text-decoration: underline;
}
/* Button */
.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(0.25, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: -moz-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  padding: 4px 14px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
.btn.primary, .btn.danger {
  color: #fff;
}
.btn.primary:hover, .btn.danger:hover {
  color: #fff;
}
.btn.primary {
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(#049cdb, #0064cd);
  background-image: -ms-linear-gradient(#049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(#049cdb, #0064cd);
  background-image: -o-linear-gradient(#049cdb, #0064cd);
  background-image: linear-gradient(#049cdb, #0064cd);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
/* webkit */
form ::-webkit-input-placeholder {
  color: #bfbfbf;
}
form input[type=text],
form input[type=password],
form select,
form textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
form input[type=text]:focus, form input[type=password]:focus, form textarea:focus {
  outline: none;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
form .uneditable-input {
  display: inline-block;
  width: 210px;
  margin: 0;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
form input[readonly]:focus, form textarea[readonly]:focus, form input.disabled {
  background: #f5f5f5;
  border-color: #ddd;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

form label.error {
    width: 0;
}
.stubborn {
    margin: 143px;
}

/* New Request Invite area */
#infotext > form label {
  padding-top: 6px;
  font-size: 13px;
  line-height: 18px;
  float: left;
  width: 75px;
  text-align: left;
  color: #404040;
}
#infotext > form label.error 
{
    width: 0;
}
#infotext > form div.input {
    margin-left: 75px;
}
#regdiv {
    height: 35px;
    position: relative;
}
.input {
    position: absolute;
}
#register 
{
    width: 350px;
}
#regbutton {
    position: absolute;
    margin-left: 575px;
}
