<div id="head">
    <h1 class="logo ie6fix">
        <a href="index.html" title="">Display</a></h1>
    <ul id="nav">
        <li id="home"><a href="index.html"><strong>Home</strong><span>the starting page</span></a></li>
        <li id="blog"><a href="@Url.Action("Index", "Blog")"><strong>Blog</strong><span>the latest gossip</span></a></li>
        <li id="portfolio"><a href="@Url.Action("Index", "Portfolio")"><strong>Portfolio</strong><span>our best workpieces</span></a></li>
        <li id="about"><a href="page.html"><strong>About</strong><span>this is our company</span></a>
            <ul>
                <li><a href="">Index</a></li>
                <li><a href="index_no3d.html">Index - Fading Slider</a></li>
                <li><a href="@Url.Action("Index", "Blog")">Blog</a></li>
                <li><a href="single.html">Single Blog Page</a></li>
                <li><a href="@Url.Action("Index", "Portfolio")">Portfolio</a></li>
                <li><a href="portfolio_single.html">Single Portfolio Page</a></li>
                <li><a href="page.html">Page</a></li>
                <li><a href="page_fullwidth.html">Page Fullwidth</a></li>
                <li><a href="contact.php">Contact</a></li>
                <li><a href="archive.html">Archive</a></li>
                <li><a href='#'>Second Level &raquo;</a>
                    <ul>
                        <li><a href='#'>Just for</a></li>
                        <li><a href='#'>Demonstration</a></li>
                        <li><a href='#'>Purpose</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="contact.php"><strong>Contact</strong><span>send us an E-mail</span></a></li>
    </ul>
</div>
<!-- end #head -->
