@model IEnumerable<Display.Models.Post>
           
<div class="box box_small">
    <h3>
        Latest News</h3>
    <ul>
        @foreach (var post in Model)
        {
            <li>@Html.ActionLink(post.Title, post.Url)</li>
        }
    </ul>
</div>
